.hurryUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border: 1px solid #F8CCCC;
  border-radius: 4px;
  background-color: #FDEFEE;
  color: var(--coral);
  font-family: 'Verdana', sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin:32px 0;
}

.counter {
  font-weight: 700;
  font-size: 24px;
}